<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [2]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

#my own example

str1 = 'Soy estudiante'
str2 = 'de la universidad nacional de Colombia'

print(str1 + ' ' + str2)

Welcome to QuantConnect
Soy estudiante de la universidad nacional de Colombia

An integer is a round number with no values after the decimal point.

In [3]:
my_int = 10
print(my_int)
print(type(my_int))

my_int2 = 34 #here declarate another integer
print('The sum: ' + my_int + my_int2) #here print sum of tow integers
print(type(my_int))

10
<class 'int'>
44
<class 'int'>

The built-in function int() can convert a string into an integer.

In [4]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

str1 = '20' #string declaration
int1 = 13
int2 = int(str1) #int parser
sum = int1 + int2
print(sum)

<class 'str'>
<class 'int'>
33

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [5]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

float1 = 2.5 #declaring a new float value
sum = my_float + float1 #sum the tow existing float values
print(sum)

<class 'float'>
102.5

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [9]:
my_bool = False
print(my_bool)
print(type(my_bool))


bool1 = True
bool2 = False
print(bool1 & bool2) #trying truth tables 'and'
print(bool1 | bool2)#trying truth tables 'or'

False
<class 'bool'>
False
True

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [10]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)
#declaring variables
num1 = 3
num2 = 6
num3 = 15
#exploring math operations
sum = num1 + num2 + num3
sub = num1 - num2 - num3
mul = num1 * num2 * num3
div = num1 / num2 / num3
exp = num2 ** num1
#print the result
print("Addition ", sum)
print("Subtraction ", sub)
print("Multiplication ", mul)
print("Division ", div)
print('exponent', exp)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8
Addition  24
Subtraction  -18
Multiplication  270
Division  0.03333333333333333
exponent 216

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [11]:
print(1/3)
print(1.0/3)

print(456 / 13) #random operation

0.3333333333333333
0.3333333333333333
35.07692307692308

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [13]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

myownlist = [2,4,6,8,10] #pair numbers list
print(myownlist)

['Quant', 'Connect']
[2, 4, 6, 8, 10]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [17]:
my_list = ['Quant', 'Connect', 1,2,3,4,5,6,7,8]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

print(my_list[int(len(my_list) / 2)])

10
Quant
8
4

You can also change the elements in the list by accessing an index and assigning a new value.

In [18]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'

my_list[0] = 'Universidad'
my_list[1] = 'Nacional'
my_list[2] = 'de'
my_list[3] = 'Colombia'
print(my_list)

['Universidad', 'Nacional', 'de', 'Colombia', 3]

A list can also be sliced with a colon:

In [19]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])
print(my_list[0:4]) #my own example

['Connect', 1]
['Quant', 'Connect', 1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [20]:
print(my_list[1:])
print(my_list[3:]) #my own example

['Connect', 1, 2, 3]
[2, 3]

And all elements up to but excluding index 3:

In [21]:
print(my_list[:3])
print(my_list[:5]) #my own example

['Quant', 'Connect', 1]
['Quant', 'Connect', 1, 2, 3]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [27]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [28]:
my_list.remove('Quant')
my_list.remove('Hello') #my own example
print(my_list)

['Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [30]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])
my_tuple2 = ('Universidad','Nacional','De Colombia')
print(my_tuple2[:2])

('to', 'QuantConnect')
('Universidad', 'Nacional')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [31]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_list2 = ['AAPL','GOOG','IBM','AAPL','IBM','GOOG','F','GOOG', 'GOOG', 'GOOG']
stock_set = set(stock_list)
stock_set2 = set(stock_list2) #my own example
print(stock_set)
print(stock_set2)#my own example

{'GOOG', 'FB', 'F', 'IBM', 'AAPL'}
{'GOOG', 'AAPL', 'F', 'IBM'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [33]:
my_dic = {'AAPL':'AAPLE',
          'FB':'FaceBook', 
          'GOOG':'Alphabet',
          'Universidad': 'Nacional'}#my own example

In [34]:
print(my_dic['GOOG'])
print(my_dic['Universidad'])#my own example

Alphabet
Nacional

After defining a dictionary, we can access any value by indicating its key in brackets.

In [35]:
my_dic['GOOG'] = 'Alphabet Company'
my_dic['Universidad'] = 'Nacional de Colombia'#my own example
print(my_dic['GOOG'])
print(my_dic['Universidad'])#my own example

Alphabet Company
Nacional de Colombia

We can also change the value associated with a specified key:

In [36]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG', 'Universidad'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [38]:
my_str = 'Welcome to QuantConnect'
str1 = 'Universidad Nacional de Colombia'
print(my_str[8:])
print(str1[:20])

to QuantConnect
Universidad Nacional

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [39]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))
print('Universidad Nacional de Colombia'.count('a'))
print('Universidad Nacional de Colombia'.find('a'))
print('Universidad Nacional de Colombia'.replace('a','i'))

7
2
ell the e in this sentence now becomes e
4
9
Universidid Nicionil de Colombii

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [40]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

Name = 'Universidad Nacional de Colombia'
name_parts = Name.split(' ')
country = name_parts[3] # select the country present in string
print(country)

2016-04-01 09:43:00
09
Colombia

We can replace parts of a string by our variable. This is called string formatting.

In [41]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)
str1 = 'Universidad {} de {}'.format('Nacional', 'Colombia')
print(str1)

Hour: 09, Minute:43
Universidad Nacional de Colombia

Another way to format a string is to use the % symbol.

In [44]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))
print('%s de %s' %('Universidad Nacional', 'Colombia'))

the pi number is 3.140000
Welcome to Quantconnect
Universidad Nacional de Colombia

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [48]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

print('a' != 'b') #using string in a logical comparisson

False
True
True
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [50]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)
#truth tables
print('Example',True and True)
print('Example',True and False)
print('Example',False and True)
print('Example',False and False)
print('Example',True or True)
print('Example',True or False)
print('Example',False or True)
print('Example',False or False)

True
False
True
False
Example True
Example False
Example False
Example False
Example True
Example True
Example True
Example False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [51]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

print(0 and not 1 or 1 and not 0 or 1 and 0) #using binary numbers to evaluate

False
True
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [53]:
i = 2
if i == 0:
    print('i==0 is True')
elif i == 1:
  print('its equal to 1')
else:
  print('Not equal to none')

Not equal to none

As we mentioned above, we can write some complex statements here:

In [54]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

q is false
Above ten,
and also above 20!

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [56]:
i = 0
while i < 5:
    print(i)
    i += 1 
#This part of code evaluate if j its longer less that 6 and sum 1 to j
j = 1
while j < 6:
  print(i)
  j += 1
else:
  print("j is no longer less than 6")

0
1
2
3
4
5
5
5
5
5
j is no longer less than 6

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [57]:
for i in [1,2,3,4,5]:
    print(i)

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

1
2
3
4
5
apple
cherry

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [58]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
The sum is 48

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [59]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val
    if sum >= 30:
      break

print("The sum is", sum)

AAPL
GOOG
IBM
FB
The sum is 33

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [60]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

AAPL
GOOG
IBM
F
V
G
GE
s
t
r
n
g
The end

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [62]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)
#extracting the firts tow letters of a string list
strlist = ['Universidad', 'Nacional', 'de', 'Colombia']
firtstowletters = [x[:2] for x in strlist]
print(firtstowletters)

[1, 4, 9, 16, 25]
['Un', 'Na', 'de', 'Co']

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [64]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)
#extracting the firts four letters of a string list if the element lenght its larger than 3
strlist = ['Universidad', 'Nacional', 'de', 'Colombia']
firtsfourletters = [x[:4] for x in strlist if len(x) > 3]
print(firtsfourletters)

['AAPL', 'IBM']
['Univ', 'Naci', 'Colo']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [65]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']
[[1, 3, 5, 7], [2, 4, 6, 8]]

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [67]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

def suma(a, b): #return the sum of two values
  return a+b

print(suma(5,6))

6
50
11

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [70]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

def say_goodbye():
  print('Good bye!')
say_goodbye()

Welcome to QuantConnect
Good bye!

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [72]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(10, 1)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [73]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

print(len('Universidad /Nacional de colombia')) #using len function

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE
33

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [74]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [75]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))
tickers = ['Universidad','Nacional','de','Colombia']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]
[11, 8, 2, 8]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [77]:
list(map(lambda x: x**2, range(10)))
list(map(lambda x: x**3, range(5))) #show the x^3 of the numbers in range 0 - 4

[0, 1, 8, 27, 64]

map() can be applied to more than one list. The lists have to have the same length.

In [79]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))
list(map(lambda a, b: a+b, ['a','b','c','d','e'],['f','g','h','i','j'])) #show two letters product sum of two lists

['af', 'bg', 'ch', 'di', 'ej']

**sorted()** takes a list or set and returns a new sorted list

In [80]:
sorted([5,2,3,4,1])
py_string = 'Universidad Nacional'
print(sorted(py_string))

[' ', 'N', 'U', 'a', 'a', 'a', 'c', 'd', 'd', 'e', 'i', 'i', 'i', 'l', 'n', 'n', 'o', 'r', 's', 'v']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [81]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])
sorted(price_list, key = lambda x: x[0]) #sorting alphabetic mode

[('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71), ('MSFT', 69), ('WMT', 75.32)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [82]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)
sorted(price_list, key = lambda x: x[0],reverse = True)

[('WMT', 75.32), ('MSFT', 69), ('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [88]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)
#Class Person
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [89]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

p1 = Person("John", 36) #initialize person

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [90]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

print(p1.name) #print person name
print(p1.age) #print person age

0.014465338822744034
0.0006573181419806673
John
36

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [91]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [93]:
dir(apple)
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [94]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [97]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>
[1 2 3 4 5]
<class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [98]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr)

[[1 3]
 [2 4]] <class 'numpy.ndarray'>
[[1 2 3]
 [4 5 6]]

We get the dimensions of an ndarray using the .shape attribute:

In [99]:
print(Ar.shape)
print(arr.shape)

(2, 2)
(2, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [101]:
print(Ar[0])
print(Ar[1])
print(arr[0])
print(arr[1])

[1 3]
[2 4]
[1 2 3]
[4 5 6]

If we want to access the matrix by column instead:

In [102]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])
print('the first column: ', arr[:,0])
print('the second column: ', arr[:,1])

the first column:  [1 2]
the second column:  [3 4]
the first column:  [1 4]
the second column:  [2 5]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [103]:
print(np.log(price_array))
print(np.log(arr))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]
[[0.         0.69314718 1.09861229]
 [1.38629436 1.60943791 1.79175947]]

Other functions return a single value:

In [104]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))
print(np.mean(arr))
print(np.std(arr))
print(np.sum(arr))
print(np.max(arr))

143.89666666666668
0.9673790478515796
863.38
145.83
3.5
1.707825127659933
21
6

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [105]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [107]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

We can customize the indices of a new Series:

In [111]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a = pd.Series(mydataset['cars'], index = ['a','b','c'])
a

a      BMW
b    Volvo
c     Ford
dtype: object

Or we can change the indices of an existing Series:

In [113]:
s.index = [6,5,4,3,2,1]
s

a.index = [7,8,9]
a

7      BMW
8    Volvo
9     Ford
dtype: object

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [114]:
print(s.describe())
print(a.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
dtype: float64
count        3
unique       3
top       Ford
freq         1
dtype: object

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [118]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)


dates = pd.date_range('1/1/2000', periods=3)

print(dates)

a.index = dates
print(a)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, dtype: float64
DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq='D')
2000-01-01      BMW
2000-01-02    Volvo
2000-01-03     Ford
Freq: D, dtype: object

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [124]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [123]:
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [122]:
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [121]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [120]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [119]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 27.0 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=0b67ab32f66fbf9af8886639db18d1c33d111df04f02352c8264fb0d73953c22
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [125]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.32867, 'profitMargins': 0.25882, 'grossMargins': 0.41779, 'operatingCashflow': 104037998592, 'revenueGrowth': 0.288, 'operatingMargins': 0.29782, 'ebitda': 120233000960, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 73295003648, 'targetMedianPrice': 170, 'currentPrice': 149.8, 'earningsGrowth': 0.662, 'currentRatio': 1.075, 'returnOnAssets': 0.20179, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.84, 'debtToEquity': 216.392, 'returnOnEquity': 1.47443, 'targetHighPrice': 190, 'totalCash': 62639001600, 'totalDebt': 136521998336, 'totalRevenue': 365817004032, 'totalCashPerShare': 3.818, 'financialCurrency': 'USD', 'revenuePerShare': 21.904, 'quickRatio': 0.91, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.92, 'beta3Year': None, 'enterpriseToEbitda': 21.055, '52WeekChange': 0.377218, 'morningStarRiskRating': None, 'forwardEps': 5.98, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.841, 'sharesShort': 100881318, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.58625, 'netIncomeToCommon': 94679998464, 'trailingEps': 5.61, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.39125264, 'priceToBook': 39.00026, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1632528000, 'shortRatio': 1.25, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 16389498411, 'beta': 1.222222, 'enterpriseValue': 2531561308160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.622, 'priceToSalesTrailing12Months': 6.769024, 'dateShortInterest': 1634256000, 'pegRatio': 1.35, 'ytdReturn': None, 'forwardPE': 25.050167, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 100926641, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 152.57, 'regularMarketOpen': 147.215, 'twoHundredDayAverage': 140.12863, 'trailingAnnualDividendYield': 0.005571213, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.935, 'navPrice': None, 'averageDailyVolume10Day': 75246133, 'regularMarketPreviousClose': 152.57, 'fiftyDayAverage': 145.59914, 'trailingAnnualDividendRate': 0.85, 'open': 147.215, 'toCurrency': None, 'averageVolume10days': 75246133, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.4128, 'currency': 'USD', 'trailingPE': 26.702316, 'regularMarketVolume': 124953168, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2476224020480, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75359889, 'dayLow': 146.4128, 'ask': 149.93, 'askSize': 1100, 'volume': 124953168, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.22, 'fiftyTwoWeekLow': 107.32, 'bid': 149.92, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1100, 'dayHigh': 149.935, 'regularMarketPrice': 149.8, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655159  24.291435  23.514533  ...  270597600        0.0             0
2016-01-05  24.379043  24.402096  23.609058  ...  223164000        0.0             0
2016-01-06  23.182565  23.599834  23.023498  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719195  22.848294  22.306538  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827745  42.004942  41.784645  ...   65397600        0.0             0
2017-12-26  40.898678  41.059112  40.630488  ...  132742000        0.0             0
2017-12-27  40.731046  40.893873  40.637659  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [126]:
aapl = aapl_table['Close']['2017']

In [127]:
print(aapl)

Date
2017-01-03    27.372360
2017-01-04    27.341722
2017-01-05    27.480768
2017-01-06    27.787134
2017-01-09    28.041647
                ...
2017-12-22    41.906765
2017-12-26    40.843605
2017-12-27    40.850773
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [128]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979774
2017-03-07    33.022385
2017-03-08    32.899303
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896935
2017-03-15    33.244862
2017-03-16    33.299297
2017-03-17    33.133617
2017-03-20    33.481556
2017-03-21    33.098110
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035404
2017-03-29    34.111137
2017-03-30    34.066170
2017-03-31    34.002262
Name: Close, dtype: float64

In [129]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289875
2017-02-03    30.419495
2017-02-06    30.704647
2017-02-07    30.996876
                ...
2017-04-24    33.997532
2017-04-25    34.208187
2017-04-26    34.006989
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [130]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372360
2017-01-04    27.341722
2017-01-05    27.480768
2017-01-06    27.787134
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244408
2017-12-19    41.794228
2017-12-20    41.748737
2017-12-21    41.906765
2017-12-22    41.906765
2017-12-26    40.843605
2017-12-27    40.850773
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [131]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282220
2017-04-30    33.819264
2017-05-31    36.125684
2017-06-30    35.133982
2017-07-31    35.245241
2017-08-31    37.897231
2017-09-30    37.604739
2017-10-31    37.654551
2017-11-30    41.233917
2017-12-31    41.160036
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [132]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553981
2017-02-05    29.662542
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [133]:
aapl.resample('M').max()

Date
2017-01-31    28.739214
2017-02-28    32.451965
2017-03-31    34.111137
2017-04-30    34.264980
2017-05-31    37.099125
2017-06-30    36.944645
2017-07-31    36.471699
2017-08-31    39.129723
2017-09-30    39.141655
2017-10-31    40.332253
2017-11-30    42.050137
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [134]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787134
2017-01-09    28.110775
2017-01-12    28.078174
2017-01-15    28.279667
                ...
2017-12-17    42.019318
2017-12-20    41.854089
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108261
2017-02-19    31.516818
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625220
2017-04-16    33.849729
2017-04-30    33.791845
2017-05-14    35.697630
2017-05-28    36.496180
2017-06-11    36.515004
2017-06-25    34.529045
2017-07-09    34.265134
2017-07-23    35.278871
2017-08-06    36.272779
2017-08-20    37.904122
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840875
2017-10-15    37.071594
2017-10-29    37.757322
2017-11-12    41.032241
2017-11-26    41.204376
2017-12-10    40.867065
2017-12-24    41.620864
2018-01-07    40.795707
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186963
2017-09-30    37.761188
2017-11-30    39.402613
2018-01-31    41.160036
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [135]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203370
2017-01-15    0.072529
2017-01-22    0.025556
2017-01-29    0.245287
2017-02-05    0.943259
2017-02-12    0.252002
2017-02-19    0.231393
2017-02-26    0.059343
2017-03-05    0.340092
2017-03-12    0.076286
2017-03-19    0.177833
2017-03-26    0.157269
2017-04-02    0.319808
2017-04-09    0.128687
2017-04-16    0.212477
2017-04-23    0.174673
2017-04-30    0.090030
2017-05-07    0.235642
2017-05-14    0.352979
2017-05-21    0.536093
2017-05-28    0.060393
2017-06-04    0.281223
2017-06-11    0.620038
2017-06-18    0.382565
2017-06-25    0.128894
2017-07-02    0.264108
2017-07-09    0.158888
2017-07-16    0.404283
2017-07-23    0.124992
2017-07-30    0.384443
2017-08-06    0.924389
2017-08-13    0.467468
2017-08-20    0.435252
2017-08-27    0.275767
2017-09-03    0.251723
2017-09-10    0.381641
2017-09-17    0.294139
2017-09-24    0.735191
2017-10-01    0.354847
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.516993
2017-10-29    0.680457
2017-11-05    0.560689
2017-11-12    0.190971
2017-11-19    0.436198
2017-11-26    0.563047
2017-12-03    0.427444
2017-12-10    0.073128
2017-12-17    0.205267
2017-12-24    0.194126
2017-12-31    0.190393
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787134
2017-01-15    28.220751
2017-01-22    28.279667
2017-01-29    28.739214
2017-02-05    30.419495
2017-02-12    31.341911
2017-02-19    32.122978
2017-02-26    32.451965
2017-03-05    33.086281
2017-03-12    33.022385
2017-03-19    33.299297
2017-03-26    33.481556
2017-04-02    34.111137
2017-04-09    34.264980
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208187
2017-05-07    35.256699
2017-05-14    37.099125
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944645
2017-06-11    36.925632
2017-06-18    34.838955
2017-06-25    34.779549
2017-07-02    34.658340
2017-07-09    34.266193
2017-07-16    35.421230
2017-07-23    35.891811
2017-07-30    36.471699
2017-08-06    37.346298
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170570
2017-09-03    39.141655
2017-09-10    38.671619
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798641
2017-10-08    37.075417
2017-10-15    37.457169
2017-10-22    38.287483
2017-10-29    38.903061
2017-11-05    41.157803
2017-11-12    42.050137
2017-11-19    41.657745
2017-11-26    41.897194
2017-12-03    41.686478
2017-12-10    40.659218
2017-12-17    41.657745
2017-12-24    42.244408
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341722
2017-01-15    28.041647
2017-01-22    28.227818
2017-01-29    28.272596
2017-02-05    28.597813
2017-02-12    30.704647
2017-02-19    31.547827
2017-02-26    32.314693
2017-03-05    32.409359
2017-03-12    32.823563
2017-03-19    32.896935
2017-03-26    33.098110
2017-04-02    33.344276
2017-04-09    33.926521
2017-04-16    33.384506
2017-04-23    33.296928
2017-04-30    33.997532
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708801
2017-05-28    36.443176
2017-06-04    36.305336
2017-06-11    35.406963
2017-06-18    33.812252
2017-06-25    34.463451
2017-07-02    34.147358
2017-07-09    33.921585
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530548
2017-08-06    35.347561
2017-08-13    37.058716
2017-08-20    37.578850
2017-08-27    37.509659
2017-09-03    38.526081
2017-09-10    37.848461
2017-09-17    37.764954
2017-09-24    36.240326
2017-10-01    35.920609
2017-10-08    36.619690
2017-10-15    37.182781
2017-10-22    37.216194
2017-10-29    37.261509
2017-11-05    39.778706
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702316
2017-12-03    40.582596
2017-12-10    40.470047
2017-12-17    41.114178
2017-12-24    41.748737
2017-12-31    40.522728
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [136]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597813
2017-02-28    32.423565
2017-03-31    34.002262
2017-04-30    33.999889
2017-05-31    36.305336
2017-06-30    34.228165
2017-07-31    35.347561
2017-08-31    39.129723
2017-09-30    36.772404
2017-10-31    40.332253
2017-11-30    41.150097
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [137]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036447
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [138]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863364059735228
0.05225845585554526
0.0990183855470228

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [139]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825752
2017-03-31    1.578697
2017-04-30   -0.002373
2017-05-31    2.305447
2017-06-30   -2.077171
2017-07-31    1.119396
2017-08-31    3.782162
2017-09-30   -2.357319
2017-10-31    3.559849
2017-11-30    0.817844
2017-12-31   -0.627369
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [140]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [141]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [142]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [143]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [144]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906765
2017-12-26    40.843605
2017-12-27    40.850773
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [145]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852390  22.440252  21.750954  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431524  25.473245  25.236823  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226407  23.412965  23.044514  ...  169228800        0.0             0
2016-06-30  22.023115  22.333266  21.990468  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646392  26.782380  26.540884  ...  105677600        0.0             0
2016-11-30  26.300088  26.441486  25.986654  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [146]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252
2016-02-29  22.450759  22.768306  22.402084  22.411356
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023115  22.333266  21.990468  22.293623
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [147]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023115  22.333266  21.990468  22.293623

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [148]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [149]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [150]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [151]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [152]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [153]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [154]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN   3.110856
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288   3.109568
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773   3.147897
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504   3.277361
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334   3.281685
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [155]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104032  34.153737  33.909951  33.999889

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [156]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852390  22.440252  ...          NaN           NaN
2016-02-29  22.450759  22.768306  ...          NaN           NaN
2016-03-31  25.431524  25.473245  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226407  23.412965  ...          NaN           NaN
2016-06-30  22.023115  22.333266  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646392  26.782380  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [157]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646392  26.782380  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [158]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646392  26.782380  26.540884  26.620602          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [159]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646392  26.782380  26.540884  26.620602          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [160]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN        NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288        NaN
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773        NaN
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504        NaN
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782380  26.540884  26.620602          NaN  26.646392
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530073  32.354924  32.423565          NaN  32.444866
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.